.hheader {
    background: linear-gradient(rgba(46, 58, 89, 0.8), rgba(46, 58, 89, 0.8)),
        url(./Enfymed_en_Alemania-inicio.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 100px 20px;
    box-sizing: border-box;
}

/* TITULO Y SUBTITULO */
.hheader h1 {
    color: #ffffff !important;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center !important;
}

.hheader p {
    color: #e0e0e0 !important;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: center !important;
}

/*  DESKTOP  */
@media (min-width: 1024px) {
    .hheader {
        background-attachment: fixed;
        min-height: 100vh;
        padding: 180px !important;
    }

    .hheader h1 {
        font-size: 4rem;
        margin: 0 80px 0 80px;
        align-items: center !important;
    }

    .hheader p {
        font-size: 1.4rem;
    }

    .head_bg {
        background-attachment: fixed !important;
    }

}
