h1{
    font-weight: bold;
}

.head_bg {
    background: linear-gradient(rgba(46,58,89, 0.5), rgba(46,58,89, 0.5)), url(/wp-content/uploads/servicios_enfymed_en_alemania.webp) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center !important;
}
